#mycanvas{
background-color: white;                                                                                          
border: brown 10px solid;
width: 800px;
}
body{
    background-image: url("https://s3.envato.com/files/223920975/Low%20Poly%20Colorful%20Background%20Preview.jpg");
    background-size: 700px 700px;

}
h1{
    color:hotpink ;
   
}

#canvas1{
    font-size: 50px;
}

#title{
background-color: rgb(18, 19, 18);
   width: 20%; 

        /* border: orange 3px solid;        */                                                                                                                                                                        
}     
  #clear
{
    width: 80px;
    height: 40px;
background-color: rgb(187, 152, 37);
border-radius: 11px;
font-size: small;
font-weight: 600;
}                             